{% extends 'layouts/base.html' %}



{% block main_content %}
<h1>{{ title }}</h1>
<div class="products row mt-4 gap-2">
  {% for product in products %}
  <div class="card mt-4 col-3">
    <img src="{{product.image_url.url}}" class="card-img-top" alt="{{product.name}}">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description|truncatechars:35}}</p>
      <p class="card-text"><b>Category: </b> {{product.category}}</p>
      <a href="{% url 'product_detail' pk=product.id%}" class="card-link">Detail</a>
      <a href="#" class="card-link">Make a review</a>
    </div>
  </div>
  {% endfor %}
</div>
  {% endblock main_content %}